<app-navbar></app-navbar>

<div class="container mt-4">

    <div class="card shadow">

        <div class="card-body">

            <h2>📚 Bienvenido a ReadZone</h2>

            <p>
                Sistema para registrar solicitudes de libros.
            </p>

            <hr>

            <h5>Opciones disponibles</h5>

            <ul>
                <li>Registrar solicitud</li>
                <li>Ver solicitudes</li>
                <li>eliminar solicitudes</li>
            </ul>

            <button routerLink="/formulario">solicitar libro</button>
        </div>

    </div>

</div>