<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

  <div class="container-fluid">

    <a class="navbar-brand">
      📚 ReadZone
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#menu">

      <span class="navbar-toggler-icon"></span>

    </button>

    <div class="collapse navbar-collapse" id="menu">

      <ul class="navbar-nav me-auto">

        <li class="nav-item">

          <a routerLink="/inicio" class="nav-link">

            Inicio

          </a>

        </li>

        <li class="nav-item">

          <a routerLink="/formulario" class="nav-link">

            Solicitudes

          </a>

        </li>

        <li class="nav-item">

          <a routerLink="/about" class="nav-link">

            About

          </a>

        </li>

      </ul>

      <button class="btn btn-danger" (click)="salir()">

        Cerrar sesión

      </button>

    </div>

  </div>

</nav>